<!DOCTYPE html>
<html>

<head>
    <title>TagX</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="TagX.png">
            <h4>Login</h4>
        </div>
        <form>
            <p class="login-form labels">username:</p>
            <input class="login-form" type="text" name="username" placeholder="username">
            <p class="login-form labels">password:</p>
            <input class="login-form" type="text" name="password" placeholder="password">
            <button class="login-form login-button">Log in</button>
            <a class="login-form forgot-password">forgot password?</a>
        </form>
    </div>
</body>

</html>