{% extends "TagX/header.html" %}

{% load render_bundle from webpack_loader %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <img src="{% static 'img/TagX.png' %}">
        <h4>Login</h4>
    </div>
    <form method="POST" action="login/">
        {% csrf_token %}
        <p class="login-form labels">username:</p>
        <input class="login-form" type="text" name="username" placeholder="username">
        <p class="login-form labels">password:</p>
        <input class="login-form" type="text" name="password" placeholder="password">
        <button class="login-form login-button">Log in</button>
        <a class="login-form forgot-password">forgot password?</a>
    </form>
</div>

<div id="login">
    <script src="{% static 'bundles/commons.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundles/login.js' %}" charset="utf-8"></script>
</div>

{% endblock %}