{% extends "TagX/header.html" %}

{% load render_bundle from webpack_loader %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

{% include "TagX/includes/nav.html" %}

<!-- search bar -->
<div class="container">
    <div class="container">
        <h1>My Systems</h1>
        <form class="search-form">
            <input id="search-bar" type="text" name="search" placeholder="Search..">
            <p class="search-by">Search By: </p>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="system_name" checked="checked"> System Name
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="operating_system"> Operating System
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="location"> Location
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="tags"> Tags
                </label>
            </div>
        </form>
    </div>
    <br>
    <!-- systems table -->
    <div id="systemtable">
        <script type="text/javascript">
            var test = {{ testData|safe }}
        </script>
        <script src="{% static 'bundles/commons.js' %}" charset="utf-8"></script>
        <script src="{% static 'bundles/systemtable.js' %}" charset="utf-8"></script>
    </div>
</div>



{% endblock %}