{% extends "TagX/header.html" %}

{% load render_bundle from webpack_loader %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

{% include "TagX/includes/nav.html" %}

<!-- search bar -->
<div class="container">
    <div class="container">
        <h1>My Systems</h1>
        <form class="search-form">
            <input id="search-bar" type="text" name="search" placeholder="Search..">
            <p class="search-by">Search By: </p>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="system_name" checked="checked"> System Name
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="operating_system"> Operating System
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="location"> Location
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline control-label">
                    <input type="radio" name="criteria" value="tags"> Tags
                </label>
            </div>
        </form>
    </div>
    <br>
    <!-- systems table -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Basic 1</th>
                <th>Basic 2</th>
                <th>Basic 3</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>System 1</td>
                <td>Group 1</td>
                <td>Basic 1</td>
                <td>Basic 2</td>
                <td>Basic 3</td>
                <td>Tags</td>
            </tr>
            <tr>
                <td>System 2</td>
                <td>Group 2</td>
                <td>Basic 1</td>
                <td>Basic 2</td>
                <td>Basic 3</td>
                <td>Tags</td>
            </tr>
            <tr>
                <td>System 3</td>
                <td>Group 3</td>
                <td>Basic 1</td>
                <td>Basic 2</td>
                <td>Basic 3</td>
                <td>Tags</td>
            </tr>
            <tr>
                <td>System 4</td>
                <td>Group 4</td>
                <td>Basic 1</td>
                <td>Basic 2</td>
                <td>Basic 3</td>
                <td>Tags</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="container">
    {% render_bundle 'main' %}
</div>

{% endblock %}