<!DOCTYPE html>
<html>
<head>
	<title>TagX</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
	<script src="https://use.fontawesome.com/63a6a52883.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
	<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    {% block styles %}
    {% endblock %}
</head>
<body>

	<div>
		{% block content %}
		{% endblock %}
	</div>
	{% if url %}
		<div class="footer">
			<div id="footer" class="container">
				<p class="your-company"><strong>Your Company: {{ request.user.tagxuser.company }}</strong></p>
				<div>
					<p class="BBB"><strong>A Product of the Big Binary Brand</strong></p>
	 			</div>
			</div>
		</div>
	{% endif %}
	<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>