{% extends "TagX/header.html" %}

{% load render_bundle from webpack_loader %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mysystems.css' %}">
<script type="text/javascript">
    var url = "{{ request.path|safe }}"
</script>
{% endblock %}

{% block content %}

{% include "TagX/includes/nav.html" %}

<!-- search bar -->
<div class="container">
    <h1>My Systems</h1>
    <form action="/search/" method="POST" class="search-form">
        {% csrf_token %}
        <div class="search-bar">
            <div class="search bar">
                <input id="bar" type="text" name="search" placeholder="Search.." {% if search.searchStr %} value="{{ search.searchStr }}"{% endif %}>
            </div>
            <div class="search button">
                <input id="button" type="submit" value="Go" />
            </div>
        </div>
        <p class="search-by">Search By: </p>
        <div class="form-group">
            <label class="radio-inline control-label">
                <input type="radio" name="criteria" value="system_name" checked="checked"> System Name
            </label>
        </div>
        <div class="form-group">
            <label class="radio-inline control-label">
                <input type="radio" name="criteria" value="operating_system" {% if search.criteria == "operating_system" %} checked="checked"{% endif %}> Operating System
            </label>
        </div>
        <div class="form-group">
            <label class="radio-inline control-label">
                <input type="radio" name="criteria" value="location" {% if search.criteria == "location" %} checked="checked"{% endif %}> Location
            </label>
        </div>
        <div class="form-group">
            <label class="radio-inline control-label">
                <input type="radio" name="criteria" value="tags" {% if search.criteria == "tags" %} checked="checked"{% endif %}> Tags
            </label>
        </div>
    </form>
    <hr>
    <!-- systems table -->
    <div id="systemtable">
        <script type="text/javascript">
            var systems = {{ systems|safe }}
        </script>
        <script src="{% static 'bundles/commons.js' %}" charset="utf-8"></script>
        <script src="{% static 'bundles/systemtable.js' %}" charset="utf-8"></script>
        <script src="{% static 'js/mySystemsPage.js' %}" charset="utf-8"></script>
    </div>
</div>



{% endblock %}