{% extends "TagX/header.html" %}

{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/system.css' %}">
<script type="text/javascript">
    var url = {{ url|safe }}
</script>
{% endblock %}

{% block content %}

{% include "TagX/includes/nav.html" %}

<div class="container">
	<div className="row header">
		{% for key, values in systems.items %}
			{% if key == "systemName" %}
				<h1>{{ values }}</h1>
			{% endif %}
		{% endfor %}
		<a class="add-tag-button" type="button" data-toggle="modal" data-target="#addTagModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Tag</a> 
		<hr></hr>            
	</div>
	{% for key, values in systems.items %}
		<div><h4>{{ key }}: </h4><p>{{ values }}</p></div>
	{% endfor %}

	<!-- Remove Group Modal -->
	<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="addTagModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		    	<div class="modal-header">
		    		<h4 class="modal-title" id="addTagModal">Add Tag</h4>
		    		</div>
		    		<form action="/mysystems/" method="GET">
			    		<div class="modal-body">
					    	<input type="text" required="true"></input>
					    	<br></br>
					    	<div class="loader" style="display:none"></div>
					    </div>
					    <div class="modal-footer">
					    	<button type="button" class="btn btn-secondary cancel-remove-group" data-dismiss="modal">Cancel</button>
					    	<input href="#" type="submit" class="btn btn-primary confirm-remove-group" value="Add Tag"></input>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}