/*this stuff is global css*/

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
}

h1 {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 30px;
}


/*this stuff is for the mysystems page*/

table {
	margin-top: 35px;
}

thead {
	background: #0096d6;
	color: white;
}

form {
	overflow: hidden;
}

input {
	display: table-cell; 
	width: 100%;
	margin: 10px auto;
    height: 3em;
}

input[type="radio"] {
	height: 100%;
	margin-top: 0;
}

img {
	width: 75px;
	padding: 5px 0;
}

label {
  display: inline-block;
  float: left;
}

li {
	padding-left: 10px;
}

.sys_row:hover {
	cursor: pointer;
}

.container {
	padding: 10px;
}

.my-systems {
	margin-left: 20px;
}

.search-by {
	margin: 0 20px 0 0;
	float: left;
	display: inline-block;
}

.radio-inline {
	margin-right: 10px;
	vertical-align: middle;
}

.form-group {
	margin: 0;
}

.radio {
	margin: 0;
}

.search {
    display: inline-block;
}

.search.bar {
	width: 90%;
}

.search.button {
	float: right;
	width: 10%;
}

#bar {
	border: 2px solid #c3c3c3;
	-webkit-transition: border 500ms; /* For Safari 3.1 to 6.0 */
    transition: border 500ms;
}

#bar:focus {
	outline: none;
	border: 2px solid #0096d6;
}

#button {
	background: #c3c3c3;
	border: none;
	border-radius: 0;
	color: white;
}

#button:focus {
	outline: none;
	background: #0474a5;
}

.search-form {
	margin-bottom: 25px;
}

/*this stuff is for the mygroups page*/

hr {
	width: 100%;
}

strong {
	border-bottom: solid 1px #000000;
	padding-bottom: 3px;
}

div.thumbnail {
	text-align: center;
}

.thumbnail {
	border: 2px solid #0096d6;
}

div.row.header {
	padding-left: 10px;
	margin-bottom: 35px;
}

.glyphicon {
	color: #0096d6;
}

.group-tag {
	margin: 10px 10px;
	height: 30px;
	text-align: left;
}

.group-tag:hover {
	cursor: pointer;
}

.glyphicon {
	margin: 5px 10px;
	float: right;
}


/* navbar stuff */
.navbar.navbar-default {
	background: #0096d6;
	width: 100%;
	border-style: none;
	color: white;
	border-radius: 0px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	height: 4em;
}

.navbar-default .navbar-toggle {
	background: white;
}

.navbar-brand {
	font-size: 2em;
}

.logout-button {
	color: white;
	background: none;
	outline: none;
	border: none;
    padding: 15px 0 15px 15px;
}

.logout-button:hover {
	color: black;
}

div.container.navbar {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar {
	border: none;
}