
<!DOCTYPE html>
<html>
<head>
	<title>TagX</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
	<script src="https://use.fontawesome.com/63a6a52883.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
	<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
	<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/groups.css">
<script type="text/javascript">
    var url = /mygroups/
</script>

</head>
<body>

	<div>
		






<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/nav.css">

<!-- navbar -->
<div id="nav">
    <script src="/static/bundles/commons.js" charset="utf-8"></script>
    <script src="/static/bundles/navbar.js" charset="utf-8"></script>
    <script src="/static/js/nav.js" charset="utf-8"></script>
</div>


<div class="container">
	<div className="row header">
	    <h1>My Groups</h1>
	    <a type="button" class="create-group" data-toggle="modal" data-target="#createGroupModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Group</a>
	    <hr></hr>                    
	</div>

	</div>
	
		<div class="footer">
			<div id="footer" class="container">
				<p class="your-company"><strong>Your Company: Ravage 2099</strong></p>
				<div>
					<p class="BBB"><strong>A Product of the Big Binary Brand</strong></p>
	 			</div>
			</div>
		</div>
	
	<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>